* {
    box-sizing: border-box;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
   
    
    
    
    
    }
    
    
    html { 
     background:rgba(153, 152, 152, 0.994)
    
      } 
    
    /*navbar*/
    
    .navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    position: sticky;
    
    }
    
    .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    }
    
    #navbar__logo {
    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    }
    
    .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    }
    
    .navbar__item {
    height: 80px;
    }
    
    .navbar__links {
    color: #d09500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    
    }
    
    
    .navbar__links:hover {
    color: #d09500;
    transition: all 0.3s ease;
    }
    ul {
      padding: 0;
      list-style: none;
      
  }
  ul li {
      display: inline-block;
      position: relative;
      line-height: 21px;
      text-align: left;
  }
  ul li a {
      display: block;
      padding: 8px 25px;
      color: rgb(221, 221, 221);
      text-decoration: none;
  }
  ul li a:hover {
      color: #d09500;
      background: #939393;
  }
  ul li ul.dropdown {
      min-width: 100%; /* Set width of the dropdown */
      background: black;
      display: none;
      position: absolute;
      z-index: 999;
      left: 0;
  }
  ul li:hover ul.dropdown {
      display: block; /* Display the dropdown */
  }
  ul li ul.dropdown li {
      display: block;
  }
    
    @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
    
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
    
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
    
    #navbar__logo {
      padding-left: 25px;
    }
    
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #d09500
    }
    
    .navbar__item {
      width: 100%;
    }
    
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
    
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    }
    /*roster*/
    table {
        width: 100%;
        padding-bottom: 10%;
    }
    table, tr, th, td {
        border-color: #a0a0a0;
        border-style: solid;
        border-width: 0px 1px 0px 0px;
    }
  
   
    td,th {
      font-weight: bold;
      font-size: 1.4em;
      border-bottom: 5px solid rgb(65, 65, 65);
      border-top: 5px solid rgb(65, 65, 65);
      border-left:  5px solid rgb(65, 65, 65);
      border-right:  5px solid rgb(65, 65, 65);
      color: rgb(0, 0, 0);
      font-family: Oswald;
      justify-content: center;
    
    }
    
    tr:nth-child(1){
      background: rgb(65, 65, 65);
      font-weight: bold;
    }
   td a:link {
        color: black;
        text-decoration: none;
        font-family: Oswald;
        }
      td a:visited {
            color: black;
            text-decoration: none;
            font-family: Oswald;
          }
    
    @media 
    only screen and (max-width: 960px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
    
      
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
       
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
          
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 40%; 
        }
        
        td:before { 
          
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
        }
    }

 
    /*footer*/
    .footer {
         
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
    }